In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (9.3.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [2]:
pip install --upgrade pip

Requirement already satisfied: pip in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (25.1.1)
Collecting pip
  Downloading pip-25.2-py3-none-any.whl.metadata (4.7 kB)
Downloading pip-25.2-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 7.3 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 25.1.1
    Uninstalling pip-25.1.1:
      Successfully uninstalled pip-25.1.1
Successfully installed pip-25.2
Note: you may need to restart the kernel to use updated packages.

In [17]:
import mysql.connector as connector

In [18]:
#connected to the database
connection = connector.connect(user = "admin2", password = "", db = "LittleLemonDM")

In [19]:
#created a cursor object
cursor = connection.cursor()

In [20]:
#show existing tables
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
print(results)

[('Bookings',), ('Customers',), ('Menu',), ('MenuItems',), ('OrderDeliveryStatus',), ('Orders',), ('ordersview',), ('Staff',)]

In [22]:
#making the query to retrieve information from different tables in datebase
join_query = """SELECT Customers.CustomerID, CONCAT(Customers.FirstName, ' ', Customers.LastName) AS FullName, 
Customers.TelNummer, Customers.Email, Orders.TotalCost 
FROM Bookings INNER JOIN Orders ON Orders.BookingID = Bookings.BookingID
INNER JOIN Customers ON Customers.CustomerID = Bookings.BookingID
WHERE Orders.TotalCost > 60;"""

In [23]:
cursor.execute(join_query)

In [24]:
results = cursor.fetchall()
for result in results:
    print(result)

(2, 'Addie Mail', '75834763387', 'hrin@NNJAB.gsjn', Decimal('103.60'))
(1, 'Maria Goll', '6472909', 'jfbvb@nbfhf.ru', Decimal('167.44'))
(5, 'Eloise Salo', '87528375', 'vnjani@jnerfi.eu', Decimal('76.34'))

In [ ]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")